{{>header}}

<div class="link">
	<a href="/">Home</a>
	<a href="/help" class="text-bold">Help</a>
	<a href="/about">About</a>
</div>

<div class="main-content-others">
	<h2>How to use?</h2>
	<span>
		<p>1. Enter the location</p>
		<p>2. Click "search icon" or press "enter"</p>
		<p>3. Weather information will be displayed</p>
	</span>
</div>