{{>header}}

<div class="link">
	<a href="/">Home</a>
	<a href="/about" class="text-bold">About</a>
	<a href="/help">Help</a>
</div>

<div class="main-content">
	<img class="potrait" src="img/user.jpg" alt="user image">
</div>