{{>header}}

<div class="link">
	<a href="/">Home</a>
	<a href="/help">Help</a>
	<a href="/about" class="text-bold">About</a>
</div>

<div class="main-content-others">
	<img class="potrait" src="img/profil.jpg" alt="user image">
	<p>Hi there, my name is Ari</p>
	<p>Kindly checkout my <a href="">github pages</a></p>
</div>