<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="img/weather-app-logo.png">
	<title>Weather App</title>
</head>

<body>

<h1 class="title">Weather App</h1>

<div class="link">
	<a href="/" class="text-bold">Home</a>
	<a href="/about">About</a>
	<a href="/help">Help</a>
</div>

<div class="main-content">
	<form action="" method="">
		<input type="text" placeholder="Enter location...">
		<button type="submit">SE</button>
	</form>

	<img src="" alt="">
	<p id="message-1">Loading...</p>
	<p id="message-2"></p>
</div>

<script src="/js/app.js"></script>