* {
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
}

html {
	font-size: 62.5%;
}

body {
	padding: 4rem;
	text-align: center;
}

h1.title {
	font-size: 6.4rem;
	color: #368BD6;
}

.link {
	margin: 2rem 0 11.6rem 0;
}

.link a {
	color: #424242;
	margin-right: 1.6rem;
	font-size: 2.4rem;
}

.text-bold {
	font-weight: bold;
}

.link a:hover {
	color: #333;
}

.line {
	border-top: 1px #cfcfcf solid;
}

.footer p {
	color: #a8a8a8;
	margin: 1.6rem 0;
	font-size: 0.85rem;
}

img.potrait {
	width: 10rem;
}

form {
	display: flex;
	justify-content: center;
	column-gap: 0.8rem;
}

form input,
form button {
	border: none;
	outline: none;
}

form input {
	color: #333;
	border: #b3dbff 1px solid;
	width: 39rem;
	height: 3.6rem;
	font-size: 1.8rem;
	padding: 1.2rem;
}

form input:focus {
	border: #52A8F2 1px solid;
}

form button {
	color: white;
	background-color: #52A8F2;
	height: 6.2rem;
	width: 6.2rem;
}

form button:hover {
	cursor: pointer;
	background-color: #368bd6;
}

#message-1,
#message-2 {
	font-size: 2.4rem;
	color: #52A8F2;
	font-weight: bold;
}

#message-1 {
	margin-top: 2.2rem;
}

.main-content form button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-content form button img {
	width: 32px;
}